# Dependencies
node_modules/

# Logs
*.log

# Environment variables
.env
.env.local

# Build outputs
dist/
build/

# Deployment outputs
output/
apps/worker/output/
apps/worker/builder/output/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
*.tar